@import url(../../../index.css);

.card-pergunta {
    display: flex;
    flex-direction: column; 
    width: 900px;
    color: var(--color-neutral-white);
    background-color: var(--color-black);
    padding: 28px 25px;
    border-radius: 5px;
    font-size: 18px;
    font-family: var(--font-family-poppins);
    border-bottom: 1px solid var(--color-neutral-gray);
}



.card-pergunta:hover {
    background-color: #1f1f1f; 
}

.cabecalho-pergunta {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    width: 100%;
}

.icone {
    font-weight: bold;
    font-size: 24px;
    margin-left: 15px;
}

.corpo-resposta {
    margin-top: 20px; 
    font-size: 16px;
    color: #cccccc; 
    line-height: 1.5;
    animation: surgir 0.4s ease-in-out; 
}
@media(max-width: 430px) {
    .card-pergunta {
        width: 360px;
        cursor: pointer; 
        transition: background-color 0.3s ease;
}
}


@keyframes surgir {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

