@import url(../../../index.css);

.background-gradient {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.flores {
    z-index: 1;
    position: absolute;
    width: 100%;
    margin-bottom: 90px;
}

.background-gradient {
    background: linear-gradient(180deg, #1C0020 0%, #B6A3EF 50%, #1C0020 100%);
    height: 100vh;
    z-index: 0;
}

.section-go {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 75%;
    gap: 72px;
    height: 65vh;
    border-radius: 20px;
    box-shadow: 8px 9px 5.5px 5px rgba(65, 65, 65, 0.39);
}

.wrapper-description {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 19px;
}

.description,
.description p {
    display: flex;
    align-items: end;
    justify-content: center;
    flex-direction: column;
    justify-self: center;
    gap: 44px;
    max-width: 500px;
    font-size: 20px;
    font-family: var(--font-family-inter);
}

.description button {
    padding: 10px 12px;
    border-radius: 8px;
    background-color: #B6A3EF;
    font-size: 14px;
    font-family: var(--font-family-inter);
    color: white;
    box-shadow: 3px 3px 3px #8975C3;
    cursor: pointer;
    z-index: 3;
}

.description button:hover {
    background-color: #7e6bb7; 
    transform: translateY(-1px); 
    box-shadow: 0 6px 12px rgba(203, 69, 240, 0.3);
}

.description button a {
    text-decoration: none;
    color: white;
    font-family: var(--font-family-inter);
    cursor: pointer;
}

@media (max-width: 480px) {

.section-go {
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 100vh;
}

.section-go img {
    width: 110px;
    height: 110px;
}

.mobile {
    display: none;
}

.wrapper-description {
    display: flex;
    flex-direction: column;
}

.description,
.description p {
    display: flex;
    align-items: end;
    justify-content: center;
    flex-direction: column;
    justify-self: center;
    gap: 20px;
    max-width: 200px;
    font-size: 14px;
    font-family: var(--font-family-inter);
}

.flores {
    z-index: 1;
    position: absolute;
    width: 100%;
    margin-bottom: 200px;
}
 
}
