@import url(../../../index.css);

.container-info {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-purple);
    padding: 100px 20px;
    width: 100%;
}

.aboutus-wrapper {
    position: relative;
    width: 100%;
    max-width: 911px;
}

.star-decoration {
    position: absolute;
    z-index: 10;
    width: 20%;
    min-width: 100px;
    top: -50px;
    left: -50px;
}

.content-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    background-color: var(--color-white-aboutus);
    border-radius: 20px;
    width: 100%;
    padding: 60px 80px;
    box-sizing: border-box;

}



.content-info h2 {
    font-weight: bold;
    font-size: 48px;
    font-family: var(--font-family-poppins);
    color: var(--color-pink);
    text-align: center;
}

.content-info p {
    line-height: 2;
    font-family: var(--font-family-poppins);
    font-size: 24px;
    text-align: justify;

}

@media (max-width: 430px) {
    .content-info {
        padding: 40px 20px;
    }

    .content-info h2 {
        font-size: 30px;
    }

    .content-info p {
        font-size: 16px;
        text-align: center;
    }

    .star-decoration {
        width: 80px;
        top: -30px;
        left: 0;
    }
}