@import url(../../../index.css);

.container-info {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-purple);
    padding: 100px 20px;
    width: 100%;
}

.aboutus-wrapper {
    position: relative;
    width: 100%;
    max-width: 911px;
    transition: 0.3s;
}

.aboutus-wrapper:hover .star-decoration{
    animation-name: circulo;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.star-decoration {
    position: absolute;
    z-index: 10;
    width: 20%;
    min-width: 100px;
    top: -50px;
    left: -50px;
    transition: 5s;
}



.content-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    background-color: var(--color-white-aboutus);
    border-radius: 20px;
    width: 100%;
    padding: 60px 80px;
    box-sizing: border-box;
    transition: 0.3s;
}

.content-info:hover{
    transform: scale(1.1);
    animation-name: balanço;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear  ;
    
}


.content-info h2 {
    font-weight: bold;
    font-size: 48px;
    font-family: var(--font-family-poppins);
    color: var(--color-pink);
    text-align: center;
}

.content-info p {
    line-height: 2;
    font-family: var(--font-family-poppins);
    font-size: 24px;
    text-align: justify;

}

@keyframes circulo {
    0%{
        transform: scale(1.0);
  
    }
    10%{
                transform: scale(1.2);

    }
    20%{
                transform: scale(1.4);

    }
    30%{
                transform: scale(1.6);

    }
    40%{
                transform: scale(1.8);

    }
    70%{
                transform: scale(1.6);

    }
    80%{
                transform: scale(1.4);

    }
    90%{
                transform: scale(1.2);

    }
    100%{
        transform: scale(1.0);

    }
}


@keyframes balanço{
    0% {
        transform: rotate(-5deg);
    }

    50%{
        transform: rotate(5deg);
    }

    75%{
        transform: rotate(5deg);
    }

    100%{
        transform: rotate(-5deg);
    }


}

@media (max-width: 430px) {
    .content-info {
        padding: 40px 20px;
    }

    .content-info h2 {
        font-size: 30px;
    }

    .content-info p {
        font-size: 16px;
        text-align: center;
    }

    .star-decoration {
        width: 80px;
        top: -30px;
        left: 0;
    }
}