@import url(../../../index.css);

.sectionDialog {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-purple);
    padding: 5%;
    width: 100%;
    box-sizing: border-box;
}

.dialog-wrapper {
    position: relative;
    width: 100%;
    max-width: 705px;
}

.imgmap {
    width: 100%;
    height: auto;
    display: block;
}

.MariaHabla {
    position: absolute;
    z-index: 10;
    width: 43%;
    left: 7%;
    bottom: 8%;
    transition: 0.3s;
}

.ballon {
    position: absolute;
    z-index: 20;
    width: 43%;
    left: 38%;
    bottom: 30%;
    transition: 0.5s;

}

.ballon:hover{
    animation-name: voar;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.MariaHabla:hover {
    animation-name: voar;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


@keyframes voar{
    0%{
            transform: translate(0px, 10px);
    }
   
    50%{
        transform: translate(0px,0px);
    }
    100%{
        transform:translate(0px,10px)
    }
}
@media (max-width: 430px) {
    .MariaHabla {
        width: 50%;
        left: 2%;
        bottom: 5%;
    }

    .ballon {
        width: 52%;
        left: 45%;
        bottom: 35%;
    }
}