@import url(../../../index.css);

.sectionDialog {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-purple);
    padding: 5%;
    width: 100%;
    box-sizing: border-box;
}

.dialog-wrapper {
    position: relative;
    width: 100%;
    max-width: 705px;
}

.imgmap {
    width: 100%;
    height: auto;
    display: block;
}

.MariaHabla {
    position: absolute;
    z-index: 10;
    width: 43%;
    left: 7%;
    bottom: 8%;
}

.ballon {
    position: absolute;
    z-index: 20;
    width: 43%;
    left: 38%;
    bottom: 30%;
}

@media (max-width: 430px) {
    .MariaHabla {
        width: 50%;
        left: 2%;
        bottom: 5%;
    }

    .ballon {
        width: 52%;
        left: 45%;
        bottom: 35%;
    }
}