@import url("../../../index.css");


.enemyssection {
    display: flex;
    flex-direction: column;
    align-items:center;
    padding: 155px 166px;
    background-color: var(--color-purple);
    gap: 200px;
}

.enemyssection h2 {
    font-size: var(--font-size-h2);
    color: var(--color-neutral-white);
}

.enemyssection h2 span {
    color: var(--color-green);
}
.container-img-enemy{
    display: flex;
    justify-content: center;
    gap: 150px;
}

.container-img-enemy img {
    transition: 0.3s;

}

.container-img-enemy img:hover {
    animation-name: balanço;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear  ;
}


@keyframes balanço{
    0% {
        transform: rotate(-5deg);
    }

    50%{
        transform: rotate(5deg);
    }

    75%{
        transform: rotate(5deg);
    }

    100%{
        transform: rotate(-5deg);
    }


}
@media (max-width: 430px){
    .enemyssection h2{
        width: 350px;
        text-align: center;
    }
    .contaenemyiner-img-{
     flex-direction: column;
    }
}